.b-proces {
.__wrapper {
	span{
			font-family: var(--header) !important;
	}
	h4{
		font-family: var(--txt)!important;
		font-weight: 600!important;
		font-size: 18px!important;

	}
	p{
	strong{
		padding-top: 30px;
	}
}
}
}
